<% provide(:title, accessed_page_name) %>

<article>
  <div class="jumbotron earth-snow">
    <h1 class="big-chalk"><%= accessed_page_name %></h1>
    <p>
      Determine which protected resources each individual user should have access to, and assign those permissions on this page.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= details_content_pages_path %>" role="button">More about ContentProfile</a>
    </p>
  </div>

  <div class="row">

      <div class="col-md-3">
        <div class="well">
          <p>
            Username<br/>
            Display Name<br/>
            Email<br/>
            Last Changed By:<br/>
            <br/>
          </p>
        </div>
      </div>

      <div class="col-md-9">
        <div class="well col-md-12">

          <div class="col-md-4">
            <div class="well well-sm">
              <h4>Branch 0034</h4>
              <hr/>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Commission
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Experience
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Notification
                </label>
              </div>
              <!-- Make this a multi-select -->
              <div class="form-group">
                <label for="lc-0034" class="control-label">Licensed States</label>
                <select id="lc-0034" multiple class="form-control selectpicker">
                  <option>Michigan</option>
                  <option>Indiana</option>
                  <option>Ohio</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="well well-sm">
              <h4>Branch 0037</h4>
              <hr/>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Commission
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Experience
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Notification
                </label>
              </div>
              <div class="form-group">
                <label for="lc-0037" class="control-label">Licensed States</label>
                <select id="lc-0037" multiple class="form-control selectpicker">
                  <option>Michigan</option>
                  <option>Indiana</option>
                  <option>Ohio</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="well well-sm">
              <h4>Branch 0040</h4>
              <hr/>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Commission
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Experience
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Notification
                </label>
              </div>
              <div class="form-group">
                <label for="lc-0040" class="control-label">Licensed States</label>
                <select id="lc-0040" multiple class="form-control selectpicker">
                  <option>Michigan</option>
                  <option>Indiana</option>
                  <option>Ohio</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Add New Branch -->
          <div class="col-md-4">
            <div class="well well-sm">
              <div class="form-group">
                <label for="new-branch" class="control-label">Assign Branch</label>
                <select id="new-branch" class="form-control selectpicker">
                  <option>Branch 0034</option>
                  <option>Branch 0037</option>
                  <option>Branch 0040</option>
                </select>
              </div>
              <hr/>
              <div class="button">
                <button type="button" class="btn btn-primary btn-block">Assign</button>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="well well-sm">
              <h4>Activity</h4>
              <hr/>

              <div class="form-group">
                <label for="partners" class="control-label">Authorized Partners</label>
                <select id="partners" multiple class="form-control selectpicker">
                  <option>0099 | Skoona Development</option>
                </select>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div class="well well-sm">
              <h4>FileDownloads</h4>
              <hr/>

              <div class="form-group">
                <label for="filedownloads" class="control-label">Allowed UserGroups</label>
                <select id="filedownloads" multiple class="form-control selectpicker">
                  <option>Employee Primary</option>
                  <option>Employee Secondary</option>
                  <option>Branch Primary</option>
                  <option>Branch Secondary</option>
                  <option>Vendor Primary</option>
                  <option>Vendor Secondary</option>
                </select>
              </div>

            </div>
          </div>

        </div>
      </div>

  </div>

</article>

<!--
  file-image-o
  file-pdf-o
  file-text-o
  envelope-open-o

 -->

