<% provide(:title, accessed_page_name) %>

<article>
  <div class="jumbotron earth-snow">
    <h1 class="big-chalk"><%= accessed_page_name %></h1>
    <p>&:nbsp;<br/>
      &:nbsp;<br/>
      &:nbsp;<br/></p>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= details_content_pages_path %>" role="button">More about ContentProfile</a>
    </p>
  </div>

  <section>
    <div class="col-md-3">
      <div class="well bg-warning">
        <p>User Info Goes here!</p>
      </div>
    </div>

    <div class="col-md-9">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Branch 0034</h4>
            <hr/>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Commission
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Experience
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Notification
              </label>
            </div>
            <!-- Make this a multi-select -->
            <div class="checkbox">
              <label>
                <input type="checkbox"> Licensed States
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Branch 0037</h4>
            <hr/>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Commission
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Experience
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Notification
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Licensed States
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Branch 0040</h4>
            <hr/>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Commission
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Experience
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Notification
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Licensed States
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well well-sm">
            <h4>Partner 0099</h4>
            <hr/>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Activity
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="well well-sm">
            <h4>FileDownloads</h4>
            <hr/>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Employee Primary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Employee Secondary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Branch Primary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Branch Secondary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Vendor Primary
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Vendor Secondary
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

</article>

<!--
  file-image-o
  file-pdf-o
  file-text-o
  envelope-open-o

 -->

