<% provide(:title, "Sign in") %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>

<section class="container">
    <%= form_tag( url_for(sessions_path),  class: 'form', :authenticity_token => true  ) do |f| %>
                <label for="session_username" class="sr-only">Username</label>
                <input autofocus="autofocus" placeholder="Your Username" type="text" name="session[username]" id="session_username" class="form-control" required>

                <label for="session_password" class="sr-only">Password</label>
                <input type="password" class="form-control" name="session[password]" id="session_password" placeholder="Your Password" reaquired>

                <div class="form-control-static">
                    <a href="/password_resets/new">forgotten password?</a>
                </div>

            <div class="checkbox">
                <label>
                    <input value="0" type="checkbox" name="session[remember_me_token]" type="hidden">
                    <input value="1" type="checkbox" checked="checked" name="session[remember_me_token]" id="session_remember_me_token">
                    <span class="add-on"> Remember me until logout; on this computer.</span>
                </label>
            </div>
            <button type="submit" name="commit" class="submit btn-default btn-block">Sign in</button>
    <% end %>
</section>
