<% provide(:title, accessed_page_name) %>

<article>
    <section>
        <p class="lead text-center"><%= accessed_page_name %></p>
    </section>

    <%= link_to :back, class: "pull-right" do %>
        <span class="glyphicon glyphicon-undo" aria-hidden="true"></span>
        Back
    <% end %>
</article>
