<% provide(:title, 'Reset Password') %>

<section class="container">

    <%= simple_form_for(@user, :url => password_resets_path, :html => { :class => 'form-horizontal form' }) do |f| %>
            <h2>Reset Your Password</h2>

            <label for="username">Enter Your UserName</label>
            <input autofocus="autofocus" type="text" name="user[username]" id="user_username">

          <div class="col-mb-push-3">
              <button type="submit" name="commit" value="Reset Password" class="btn-primary submit">Reset Password</button>
              <%= link_to "Cancel", root_path(), class: 'btn' %>
          </div>
    <% end %>

</section>