<div class="well col-md-6">
    <div class="media">
        <div class="media-left">
            <%= link_to user_group_role_path do %>
                <span class="media-object">
                    <span style="font-size:2.5em;" class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                </span>
            <% end %>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= entry.name %></h4>
             <p class="lead"><%= entry.description %></p>
        </div>
    </div>
</div>
