<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5 class="panel-title pull-right">Access Role</h5>
            <span style="font-size:2.5em;" class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
        </div>
        <div class="panel-body">
            <h5><%= entry.name %></h5>
             <p><%= entry.description %></p>
        </div>
    </div>
</div>