<% provide(:title, accessed_page_name) %>

<article>
  <section>
      <h1 class="text-center"><%= accessed_page_name %></h1>
  </section>

  <section>
      <%= render @user_group_role %>

      <% if action_name.eql?('show') %>
          <section>
              <% @user_group_role.user_roles.each do |usrr| %>
                  <%= render 'user_role', entry: usrr  %>
              <% end %>
          </section>
      <% end %>
  </section>
</article>

