<% provide(:title, "All Users") %>

<%= will_paginate class: "pagination col-md-6 col-md-offset-6 pull-right" %>
<section role="page" class="row users">
    <%= render @users %>
</section>
<%= will_paginate class: "pagination col-md-6 col-md-offset-6 pull-right" %>


