<% provide(:title, accessed_page_name) %>

<section class="container">
    <h1 class="text-center"><%= accessed_page_name %></h1>

    <%= render 'form' %>

    <%= link_to 'Show', @content_profile %> |
    <%= link_to 'Back', content_profiles_path %>

</section>