<% provide(:title, accessed_page_name) %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>

<article>
    <%= render @page_controls.content_profile %>

    <% if action_name.eql?('show') %>
        <section>
            <% @page_controls.content_profile_entries.each do |cpe| %>
                <%= render 'content_profile_entry', entry: cpe  %>
            <% end %>
        </section>
    <% end %>
</article>
