<% provide(:title, accessed_page_name) %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>

<article>
    <%= render @content_profile %>

    <% if action_name.eql?('show') %>
        <section>
            <% @content_profile.content_profile_entries.each do |cpe| %>
                <%= render 'content_profile_entry', entry: SknUtils::PageControls.new(cpe.entry_info)  %>
            <% end %>
        </section>
    <% end %>
</article>
