<% provide(:title, accessed_page_name) %>

<article class="container">

    <header class="page-header">
        <h2><%= accessed_page_name %></h2>
        <%= image_tag("AccessProfile-ContentProfile.png", alt: "ContentProfile", class: "huge-image") %>
    </header>

    <div class="row">
        <p class="lead">
            ContentProfiles are the main focus of exploration in this app, which has proven to be a significant
            engineering challenge to handle the dynamics of Electronic Delivery.  ContentProfiles deal with
            specific content access privileges; which document, file, report, etc.
        </p>

        <p>
            UserProfiles and AccessProfiles have many different implementations available, and are well handled processes.  However,
            ContentProfiles are the main focus of exploration in this app, which has proven to be a significant
            engineering challenge to handle the dynamics of Electronic Delivery.
        </p>
    </div>
</article>

<section class="container">
    <%= link_to :back, class: "pull-right" do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        Home
    <% end %>
</section>
