<% provide(:title, accessed_page_name) %>

<article class="container">

    <header class="page-header">
        <h2>SknService Data Model</h2>

        <%= image_tag("sknService-DataModel.png", alt: "Main Path", class: "large-image") %>
    </header>

    <p class="lead">
        Overall design guidance.
    </p>

    <div class="row">
        <div class="col-md-6">
            <h2>[Process] Service</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>[Process] Domains</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>ServiceFactory</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>AccessProfile</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>CntentProfile</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>Configuration</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>Rails Model</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>Rails Views</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>Rails Controllers</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6">
            <h2>RSpec Testing</h2>
            <p>words.</p>
        </div>
    </div>

</article>

<section class="container">
    <%= link_to :back, class: "pull-right" do %>
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        Back
    <% end %>
</section>
