<% provide(:title, accessed_page_name) %>

<article>

    <header class="page-header">
        <h2><%= accessed_page_name %></h2>
        <%= image_tag("sknService-CoreComponents.jpg", alt: "Main Path", class: "huge-image") %>
    </header>

    <section>
        <p class="lead">
            Design guidance.
        </p>
    </section>

    <section>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#AccessProfileService" aria-expanded="true" aria-controls="collapseOne">
                            AccessProfileService
                        </a>
                    </h4>
                </div>
                <div id="AccessProfileService" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>In the body proper</p>
                    </div>
                    <p>In the box: More Stuff like tables</p>
                </div>
                <p>Out of the box: More Stuff like tables</p>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ContentProfileService" aria-expanded="false" aria-controls="collapseTwo">
                            ContentProfileService
                        </a>
                    </h4>
                </div>
                <div id="ContentProfileService" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        ContentProfileService
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#DomainServices" aria-expanded="false" aria-controls="collapseThree">
                            [Business Process] DomainServices
                        </a>
                    </h4>
                </div>
                <div id="DomainServices" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        DomainServices
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#JSONApis" aria-expanded="false" aria-controls="collapseThree">
                            JSON APIs
                        </a>
                    </h4>
                </div>
                <div id="JSONApis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                          <pre class="pre-scrollable">
                                            Final Access Package listing: One for each user is available in the API
                                            GET: /profiles/content_profile_demo.json
                                            GET: /profiles/access_profile_demo.json

                            {
                              "user_options":["Manager","0034","0037","0040"],
                              "username":"skoona",
                              "display_name":"Employee Primary User: Developer",
                              "package":{
                                "success":true,
                                "message":"AccessProfile Entries for skoona:Employee Primary User: Developer Options=Manager,0034,0037,0040",
                                "user_options":["Manager","0034","0037","0040"],
                                "accessible_content_url":"/profiles/accessible_content.json?id=access",
                                "page_user":"skoona",
                                "access_profile":{
                                    "username":"skoona","entries":[
                                       {"user_options":["Manager","0034","0037","0040"],
                                        "topic_value":"PDF",
                                        "content_value":{"doctype":"954"},
                                        "content_type":"Commission",
                                        "content_type_description":"Agency Commission Statements",
                                        "topic_type":"Agency",
                                        "topic_type_description":"Agency Commission Statements",
                                        "description":"Agency Commission Statements",
                                        "username":"skoona",
                                        "uri":"Commission/Agency/PDF"
                                       },
                                       {"user_options":["Manager","0034","0037","0040"],"topic_value":"CSV","content_value":{"doctype":"955"},"content_type":"Commission","content_type_description":"Agency Commission CSV Datafiles","topic_type":"Agency","topic_type_description":"Agency Commission CSV Datafiles","description":"Agency Commission CSV Datafiles","username":"skoona","uri":"Commission/Agency/CSV"},
                                       {"user_options":["Manager","0034","0037","0040"],"topic_value":"PDF","content_value":{"doctype":"956"},"content_type":"Experience","content_type_description":"Agency Experience Statements","topic_type":"Agency","topic_type_description":"Agency Experience Statements","description":"Agency Experience Statements","username":"skoona","uri":"Experience/Agency/PDF"}
                                                                 ],
                                    "pak":null,
                                    "profile_type":"",
                                    "profile_type_description":"",
                                    "provider":"UserProfile",
                                    "display_name":"Employee Primary User: Developer",
                                    "email":"skoona@gmail.com"
                                }
                              }
                            }


                                            Final Access Package on Users List
                                            GET: /profiles/accessible_content.json?id=access

                            REQUEST:  {
                                "user_options":["Manager","0034","0037","0040"],
                                "topic_value":"PDF",
                                "content_value":{"doctype":"954"},
                                "content_type":"Commission",
                                "content_type_description":"Agency Commission Statements",
                                "topic_type":"Agency",
                                "topic_type_description":"Agency Commission Statements",
                                "description":"Agency Commission Statements",
                                "uri":"Commission/Agency/PDF",
                                "username":"skoona"
                                }

                            RESPONSE: {
                                "success":true,
                                "content":"access"
                                "message":"",
                                "username":"skoona",
                                "display_name":"Employee Primary User: Developer",
                                "package":[
                                    {"source":"datafiles","filename":"someFile.dat","created":"2016-01-05T16:18:57.881-05:00","size":"0"},
                                    {"source":"images","filename":"somePic.png","created":"2016-01-05T16:18:57.881-05:00","size":"0"},
                                    {"source":"pdfs","filename":"someFile.pdf","created":"2016-01-05T16:18:57.881-05:00","size":"0"}
                                          ]
                                }


                                            Final ContentProfile Package on Users List
                                            GET: /profiles/accessible_content.json?id=content

                            REQUEST: {
                                "user_options":["Manager","0034","0037","0040"],
                                "topic_value":"Agency",
                                "content_value":["68601","68602","68603"],
                                "content_type":"Commission",
                                "content_type_description":"Monthly Commission Reports and Files",
                                "topic_type":"Agency",
                                "topic_type_description":"Agency Actions",
                                "description":"Determine which agency documents can be seen",
                                "username":"skoona"
                                }

                            RESPONSE: {
                                "content":"content"
                                "success":true,
                                "message":"",
                                "username":"skoona",
                                "display_name":"Employee Primary User: Developer",
                                "package":[
                                    {"source":"datafiles","filename":"someFile.dat","created":"2016-01-05T16:24:12.066-05:00","size":"0"},
                                    {"source":"images","filename":"somePic.png","created":"2016-01-05T16:24:12.066-05:00","size":"0"},
                                    {"source":"pdfs","filename":"someFile.pdf","created":"2016-01-05T16:24:12.066-05:00","size":"0"}
                                          ]
                                }
                          </pre>
                    </div>
                </div>
                <p>JSON Apis</p>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ServiceFactory" aria-expanded="false" aria-controls="collapseTwo">
                            ServiceFactory
                        </a>
                    </h4>
                </div>
                <div id="ServiceFactory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        ServiceFactory
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ProcessController" aria-expanded="false" aria-controls="collapseTwo">
                            [Process] Controller
                        </a>
                    </h4>
                </div>
                <div id="ProcessController" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        [Process] Controller
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#Configuration" aria-expanded="false" aria-controls="collapseTwo">
                            Configuration
                        </a>
                    </h4>
                </div>
                <div id="Configuration" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Configuration
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#RailsModel" aria-expanded="false" aria-controls="collapseTwo">
                            Rails Model
                        </a>
                    </h4>
                </div>
                <div id="RailsModel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Rails Model
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#RailsViews" aria-expanded="false" aria-controls="collapseTwo">
                            Rails Views
                        </a>
                    </h4>
                </div>
                <div id="RailsViews" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Rails Views
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#RailsApplicationControllers" aria-expanded="false" aria-controls="collapseTwo">
                            Rails Application Controllers
                        </a>
                    </h4>
                </div>
                <div id="RailsApplicationControllers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Rails Application Controllers
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#RSpecTesting" aria-expanded="false" aria-controls="collapseTwo">
                            RSpec Testing
                        </a>
                    </h4>
                </div>
                <div id="RSpecTesting" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        RSpec Testing
                    </div>
                </div>
                <p>More Stuff like tables</p>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#ApplicationDataModel" aria-expanded="false" aria-controls="collapseTwo">
                            Application Data Model
                        </a>
                    </h4>
                </div>
                <div id="ApplicationDataModel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <h2>Application Data Model</h2>
                        <%= image_tag("sknService-DataModel.png", alt: "Main Path", class: "huge-image") %>
                    </div>
                </div>
                <p>Authentication and Authorization Data Models</p>
            </div>
        </div>
    </section>

</article>
