<% provide(:title, accessed_page_name) %>

<article class="container" xmlns="http://www.w3.org/1999/html">

    <header class="page-header">
        <h2><%= accessed_page_name %></h2>
        <%= image_tag("sknService-CoreComponents.jpg", alt: "Main Path", class: "huge-image") %>
    </header>

    <section>
        <p class="lead">
            Design guidance.
        </p>
    </section>

    <section>
        <div class="col-md-6 well well-lg">
            <h2>AccessProfileService</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>ContentProfileService</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>[Business Process] DomainService</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>ServiceFactory</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>[Process] Controller</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>Configuration</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>Rails Model</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>Rails Views</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>Rails Application Controllers</h2>
            <p>words.</p>
        </div>
        <div class="col-md-6 well well-lg">
            <h2>RSpec Testing</h2>
            <p>words.</p>
        </div>
    </section>

    </section class="well">
        <h2>Application Data Model</h2>
        <%= image_tag("sknService-DataModel.png", alt: "Main Path", class: "huge-image") %>
    </section>
</article>
