<% provide(:title, accessed_page_name) %>

<article>
    <div class="jumbotron galaxy-man">
        <h1 class="big-chalk"><%= accessed_page_name %></h1>
        <%# <%= image_tag("AccessProfile-AccessRegistry.png", alt: "Main Path", class: "large-image") %>

        <p class="lead">
            The ultimate goal is to provide sensitive documents electronically to the people authorized to access them.
        </p>
        <p class="lead">
            For each person we record the document type identifiers for documents they are allowed to see, by business entity, or Branch.
        </p>
        <p class="lead">
            The resulting encoding may look like: <br/><small>person1=branch-authorized/branch=0034/content=commission/docid=6654,6656,6657</small>
        </p>
    </div>


    <section>
        <blockquote>
            <h4>Electronic delivery scenarios:</h4>
            <ol>
                <li>An Insured has enrolled in 'Direct-Pay' and wants electronic access to related relationship documents.  Later, they wish to add other people to the list of authorized participants.
                </li>
                <li>An Branch Owner has designated a short list of people be allowed to access the Commission Statement, CSV file, and the Branch Experience Document.
                </li>
                <li>An Producer has requested notification of certain policy life-cycle events, for either all their accounts or a short list of accounts.
                </li>
            </ol>
        </blockquote>

        <blockquote>
            <h4>Content-based Authorization goes deeper that the normal show/hide or access/no-access authorization schemes.</h4>
            <p class="lead">It first identifies access authorization to a specific business entity. Then permission to interact with secure objects related to that entity is permitted.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Identify the Person and their Role.</h4>
            <p>Using any available authentication system.  We trust those systems to enroll and
            consistently identify users, provided they offer an unique <em>persistent identifier key (pak)</em>
            that does not change between logins.</p>
            <p>The AccessProfile is a authentication process provided by this application. It assures compliance with this identity requirement.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Encode their Permissions</h4>
            <p>This application, via administrator specification, a self-service facility,
            or business policy standards, matches a participants identity key to a ContentProfile.</p>
            <p>The ContentProfile is a authorization process provided by this application.  It assures compliance with this authoritative requirement.</p>
        </blockquote>

        <div class="col-md-12">
            <h4 class="text-center">Content-based Authorization Specification</h4>
            <dl class="dl-horizontal">
                <dt>UserProfile</dt>
                    <dd>The top level external representation of this user.</dd>
                    <dd>Can be sourced from any authentication system. i.e. internal, Google, etc.</dd>
                    <dd>Maintains user Identity key</dd>
                    <dd>An AccessProfile provided construct.</dd>
                <dt>ContentProfile</dt>
                    <dd>Top level internal representation, identifying the user and their role.</dd>
                    <dd>Contains a collection of topical permissions, called ContentProfileEntries.</dd>
                    <dd>Each User has only one of these profiles per UserProfile.</dd>
                <dt>ContentProfileEntry</dt>
                    <dd>Describes the intended use of this entry.</dd>
                    <dd>Encodes the TYPE of business Information. i.e. Commission or Notifications</dd>
                    <dd>Encodes the identifier for that TYPE of business Information, like Branch or Account number.</dd>
                    <dd>Encodes the CONTENT of business Information</dd>
                    <dd>Encodes the identifier for that CONTENT of business Information, like commission docid, or notification type.</dd>
                    <dd>Each User can have as many of these entriesas needed, these entries can also be shared or reused.</dd>
                <dt>ContentType/TopicType</dt>
                    <dd>Convenience collection of identity values related to topic and/or content types.</dd>
                    <dd>Ensure identifiers are usable and correct to the company standards.</dd>
                    <dd>Each individual value includes a description.  For licensed state number 21, 'Michigan' would be its description.</dd>
                    <dd>The application may only allow selection from the approved list of account numbers, branch numbers, etc.</dd>
            </dl>
        </div>
    </section>

</article>
