<% provide(:title, accessed_page_name) %>

<article>
    <div class="jumbotron galaxy-man">
        <h1 class="big-chalk"><%= accessed_page_name %></h1>
        <%# <%= image_tag("AccessProfile-AccessRegistry.png", alt: "Main Path", class: "large-image") %>

        <p class="lead">The ultimate goal is to provide sensitive documents electronically to the people authorized to access them.</p>
      <p class="lead">Content-based Authorization goes deeper that the normal show/hide authorization schemes.  ContentProfile Authorization describe exactly what type of information can be accessed, for every business entity like an Account.</p>
    </div>


    <section>
        <blockquote>
            <h4>Electronic delivery scenarios:</h4>
            <ol>
                <li>An Customer has enrolled in 'Direct-Pay' and wants electronic access to related relationship documents, like: Invoices and statements.  Later, they wish to add other people to the list of authorized participants.
                </li>
                <li>An Branch Manager has designated a short list of people be allowed to access the Branch Experience Document.
                </li>
                <li>An Producer has requested notification of certain policy life-cycle events, for either all their accounts or a short list of accounts.
                </li>
            </ol>
        </blockquote>

        <blockquote>
          <h4>Core Idea</h4>
          <p>In general anything that can be accessed is considered a <strong>content type</strong>.  The specific entity that content is related to is considered a
             <strong>topic type</strong>.  Both types <em>must be fully qualified with their respective Identifiers</em>.
             Once qualified the two are combined into a holding object called a ContentProfileEntry, and given a descriptive title.</p>
          <p>Most business will have many topic types and not everyone will be allowed to view the content associated with all instances of that topic type.  Example: A
             Producer should only be able to view commission documents for Accounts in their territory; not all accounts.</p>
          <p>One ContentProfileEntry describes one permission, through the combination of a fully qualified content type and topic type.  It is expected that a
             user's collection would have many of these specialized entries.  Entries are themselves assigned to a wrapper object called a ContentProfile
             which maintains the collection.</p>
          <p>ContentProfiles are also the anchor back to the UserProfile, using the person authentication key(PAK) or UUID they rely on as <strong>the users</strong> primary identifier.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Identify the Person and their Role.</h4>
            <p>Using any available authentication system.  We trust those systems to enroll and
            consistently identify users, provided they offer an unique <em>persistent identifier key (pak)</em>
            that does not change between logins.</p>
            <p>The UserProfile is a authentication process provided by this application. It assures compliance with this identity requirement.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Encode their Permissions</h4>
            <p>This application, via administrator specification, a self-service facility,
            or business policy standards, matches a participants identity key to a ContentProfile.</p>
            <p>The ContentProfile is a data model for the authorization process provided by this application.  It assures compliance with this authoritative requirement.</p>
        </blockquote>

        <div class="col-md-12">
            <h4 class="text-center">Content-based Authorization Specification</h4>
            <dl class="dl-horizontal">
                <dt>UserProfile</dt>
                    <dd>The top level representation of a user.</dd>
                    <dd>Can be sourced from any authentication system. i.e. internal, Google, etc.</dd>
                    <dd>Maintains user Identity key</dd>
                <dt>ContentProfile</dt>
                    <dd>Top level internal representation, identifying the user and their role.</dd>
                    <dd>Contains a collection of permissions, called ContentProfileEntries.</dd>
                    <dd>Each User has only one of these profiles per UserProfile.</dd>
                <dt>ContentProfileEntry</dt>
                    <dd>Describes the intended use of this entry.</dd>
                    <dd>Encodes the TOPIC of business Information; i.e. Accounts.</dd>
                    <dd>Encodes the identifier for that TYPE of business Information; i.e. Account number.</dd>
                    <dd>Encodes the CONTENT of business Information; i.e. Commission Statement.</dd>
                    <dd>Encodes the identifier for that CONTENT of business Information; i.e. commission document ID.</dd>
                    <dd>Each User can have as many of these entries as needed.</dd>
                <dt>Types &amp; Values</dt>
                    <dd>Convenience collection of identity values related to topic and content types.</dd>
                    <dd>Ensure identifiers are usable and correct to the company standards.</dd>
                    <dd>Each individual value includes a description.</dd>
                    <dd>The application may only allow selection from the approved list of account numbers, branch numbers, etc.</dd>
            </dl>
        </div>
    </section>

</article>
