<% provide(:title, accessed_page_name) %>

<article>
    <div class="jumbotron galaxy-man">
        <h1 class="big-chalk"><%= accessed_page_name %></h1>
        <%# <%= image_tag("AccessProfile-AccessRegistry.png", alt: "Main Path", class: "large-image") %>

        <p class="lead">
            This application is focused on collecting and correlating information from multiple sources to meet
            or contribute to the following objectives:
        </p>
    </div>


    <div class="row">
        <blockquote>
            <ol>
                <li>Clearly indicate an employee, agent, agency owner, CSR, or any business ACTOR role!<br/>
                    <strong>* by identifying the person(s) using a permanent and persistent identifier from an authenticated source.</strong>
                </li>
                <li>When an Insured enrolls in 'DirectPay' what additional documents have they chosen to have delivered electronically to them?<br/>
                    <strong>* by identifying the person(s), and encoding which person is authorized to view specific electronic documents.</strong>
                </li>
                <li>Who has an AgencyOwner authorized to receive and/or view their monthly Commission Statement, Commission CSV File, and Agency Experience Report?<br/>
                    <strong>* by identifying the person(s), and encoding which person is authorized to view specific electronic documents.</strong>
                </li>
                <li>When a Policy changes its LifeCycle Status, who receives notification; and how should that notification be sent?<br/>
                    <strong>* by identifying the person(s), and encoding which person is authorized to receive notifications by type, where type includes and/or implies the delivery method.</strong>
                </li>
            </ol>
        </blockquote>

        <blockquote>
            <h4>Content-based Authorization goes deeper that the normal show/hide or access/no-access authorization schemes.</h4>
            <p class="lead">It first identifies access authorization to a specific business entity. Then permission to interact with secure objects related to that entity is permitted.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Identify the Person and their Role.</h4>
            <p>Using any available authentication system.  We trust those systems to enroll and
            consistently identify users, provided they offer an unique <em>persistent identifier key (pak)</em>
            that does not change between registrations.</p>
            <p>The AccessProfile is an implementation model provided by this application, which assures compliance with this requirement.</p>
        </blockquote>

        <blockquote class="col-md-6">
            <h4>Encode their Permissions</h4>
            <p>This application, via administrator specification, a self-service facility,
            or business policy standards, matches a participants identity key to a ContentProfile.</p>
            <p>The ContentProfile is an implementation model provided by this application, which assures compliance with this requirement.</p>
        </blockquote>

        <div class="panel col-md-12">
            <h4 class="text-center">Content-based Authorization Specification</h4>
            <dl class="dl-horizontal">
                <dt>UserProfile</dt>
                    <dd>The top level external representation of this user.</dd>
                    <dd>Can be sourced from any authentication system. i.e. internal, Google, etc.</dd>
                    <dd>Maintains user Identity key</dd>
                <dt>ContentProfile</dt>
                    <dd>Top level internal representation, identifying the user and their role.</dd>
                    <dd>Contains a collection of topical permissions, called ContentProfileEntries.</dd>
                    <dd>Each User has only one of these profiles per UserProfile.</dd>
                <dt>ContentProfileEntry</dt>
                    <dd>Describes the intended use of this entry.</dd>
                    <dd>Encodes the TYPE of business Information. i.e. Commission or Notifications</dd>
                    <dd>Encodes the identifier for that TYPE of business Information, like Agency or Account number.</dd>
                    <dd>Encodes the CONTENT of business Information</dd>
                    <dd>Encodes the identifier for that CONTENT of business Information, like commission docid, or notification type.</dd>
                    <dd>Each User can have as many of these entriesas needed, these entries can also be shared or reused.</dd>
                <dt>ContentType/TopicType</dt>
                    <dd>Convenience collection of identity values related to topic and/or content types.</dd>
                    <dd>Ensure identifiers are usable and correct to the company standards.</dd>
                    <dd>Each individual value includes a description.  For licensed state number 21, 'Michigan' would be its description.</dd>
                    <dd>The application may only allow selection from the approved list of account numbers, agency numbers, etc.</dd>
            </dl>
        </div>
    </div>

</article>
