<% provide(:title, accessed_page_name) %>

<section class="container">
    <article>
        <section class="container">
            <p class="lead">
                A UnAuthenticated Security Failure Has Occurred !
            </p>
        </section>
    </article>

    <%= link_to :back, class: "pull-right" do %>
        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        Back
    <% end %>
</section>
