/**
 * Created by jscott on 1/1/16.
 */


var logEnabled = <%= Rails.env.development? %>,
    csrfToken;

/**
 * Prevents debuging messages from going to console none development mode
 * @param message {string}  to log on console
 */
        function consoleLog(message) {
    if (logEnabled) {
        console.log(message);
    }
}

/**
 * Content/Access Profile Table Selection
 * - fire ajax to get data, using url on accessible-table tbody
 * - then update accessible-table rows
 */
function profileTablesRequester(ev) {
    var dataPackage = $(ev.currentTarget).data().package,
        contentType = dataPackage.hasOwnProperty('name'), // then AccessProfile
        accessUrl = $("#accessible-table tbody" ).data().accessibleUrl,
        tTitle = $('#accessible-table').closest('div').prev('div').find('h2.panel-title'),
        dataResponse = {},
        textStatus = "";

    $("table.profile tbody tr").removeClass('success');
    $(ev.currentTarget).addClass('success');

    if (contentType) {
        consoleLog( "AccessProfile Sending package=>" + JSON.stringify(dataPackage));
    } else {
        consoleLog( "ContentProfile Sending package=>" + JSON.stringify(dataPackage));
    }

    $.ajax({
        headers: {'X-CSRF-Token': csrfToken, 'X-XSRF-Token': csrfToken },
        method: "GET",
        dataType: "json",
        contentType: 'json',
        url: accessUrl,
        data: dataPackage,
        accepts: 'json'
    }).done(function(data,textStatus,jqXHR) {
            textStatus = textStatus;
            dataResponse = data.package;
            replaceAccessibleTableRows(dataResponse);
            console.log( "profileTablesRequester() success: " + textStatus + ", Response=" + JSON.stringify(dataResponse));
      }).fail(function(jqXHR, textStatus, errorThrown) {
            textStatus = textStatus;
            tTitle.html('No Accessible Content for ' + dataPackage.username + ': <span class="label-info">select a different ContentProfile Entry from above.</span>');
            $('#accessible-table').removeClass('show').addClass('hidden');
            $('#accessible-table tbody').empty();
            console.log( "profileTablesRequester() error: " + textStatus + ', thrown=' + errorThrown + ', package=' + JSON.stringify(dataPackage));
      });

    return false;
}


/**
 * Reloads the content-table with supplied rows from a contentProfile package
 * @param dataPackage {contentProfile}
 */
function replaceContentTableRows(dataPackage) {
    var oBody = $('#content-table tbody'),
            tTitle = oBody.closest('div').prev('div').find('h2.panel-title'),
            vList = dataPackage.package.content_profile.entries,
            newRow = [],
            counter = 0;

    tTitle.html(dataPackage.package.message);
    if (dataPackage.package.success) {
        $('#content-table').removeClass('hidden').addClass('show');

        oBody.empty();

        $.each(vList, function(index, row) {
                newRow = [];
                newRow.push('<tr data-package=\'' + JSON.stringify(row) + '\'>');
                newRow.push('<td>' + row.description  + '</td>');
                newRow.push('<td>' + row.content_type  + '</td>');
                newRow.push('<td>' + row.content_type_description  + '</td>');
                newRow.push('<td>' + row.topic_type  + '</td>');
                newRow.push('<td>' + JSON.stringify(row.content_value)  + '</td>');
                newRow.push('</tr>');

                oBody.append(newRow.join()).find('tr').last().on( "click", profileTablesRequester);
                    counter = index + 1;
            }
        );
    } else {
        $('#content-table').removeClass('show').addClass('hidden');
        oBody.empty();
        $('#accessible-table').removeClass('show').addClass('hidden');
        $('#accessible-table tbody').empty();
    }

    consoleLog('replaceContentTableRows(rowsAdded=' + counter + ')');
    return false;
}

/**
 * Reloads the access-table with supplied rows from a accessProfile package
 * @param dataPackage {accessProfile}
 */
function replaceAccessTableRows(dataPackage) {
    var oBody = $('#access-table tbody'),
            tTitle = oBody.closest('div').prev('div').find('h2.panel-title'),
            vList = dataPackage.package.access_profile.entries,
            newRow = [],
            counter = 0

    tTitle.html(dataPackage.package.message);
    if (dataPackage.package.success) {
        $('#access-table').removeClass('hidden').addClass('show');

        oBody.empty();

        $.each(vList, function(index, row) {
                    newRow = [];
                    newRow.push('<tr data-package=\'' + JSON.stringify(row) + '\'>');
                    newRow.push('<td>' + row.description  + '</td>');
                    newRow.push('<td>' + row.content_type  + '</td>');
                    newRow.push('<td>' + row.topic_type  + '</td>');
                    newRow.push('<td>' + JSON.stringify(row.content_value)  + '</td>');
                    newRow.push('</tr>');

                    oBody.append(newRow.join()).find('tr').last().on( "click", profileTablesRequester);
                    counter = index + 1;
                }
        );
    } else {
        oBody.empty();
        $('#access-table').removeClass('show').addClass('hidden');
        $('#accessible-table').removeClass('show').addClass('hidden');
        $('#accessible-table tbody').empty();
    }

    consoleLog('replaceAccessTableRows(rowsAdded=' + counter + ')');
    return false;
}

/**
 * Reloads the accessible-table with supplied rows from a Profile package
 * @param dataPackage {ProfileEntry}
 *
 * dataPackage = {success: true, message: "", content: 'access',
 *                username: pg_u.username, display_name: pg_u.display_name ,
 *                package: [
 *                  {source: "datafiles", filename: "someFile.dat", created: '12/1/2015', size: "0"},
 *                  ...
 *                         ]
 *                }
 */
function replaceAccessibleTableRows(dataPackage) {
    var oBody = $('#accessible-table tbody'),
            tTitle = oBody.closest('div').prev('div').find('h2.panel-title'),
            vList = dataPackage.package,
            newRow = [],
            counter = 0,
            msg = 'Accessible Content for ' + dataPackage.username + ', ' + (dataPackage.hasOwnProperty('display_name') ? dataPackage.display_name : dataPackage.content_type);

    oBody.empty();
    $.each(vList, function(index, row) {
                newRow = [];
                newRow.push('<tr data-package=\'' + JSON.stringify(row) + '\'>');
                newRow.push('<td>' + row.source  + '</td>');
                newRow.push('<td>' + row.filename  + '</td>');
                newRow.push('<td>' + row.created  + '</td>');
                newRow.push('<td>' + row.size  + '</td>');
                newRow.push('</tr>');

                oBody.append(newRow.join());
                counter = index + 1;
            }
    );

    if (!dataPackage.success) {
        msg = dataPackage.message;
        $('#accessible-table').removeClass('show').addClass('hidden');
        $('#accessible-table tbody').empty();
    } else {
        $('#accessible-table').removeClass('hidden').addClass('show');
    }
    tTitle.html(msg);

    consoleLog('replaceAccessibleTableRows(rowsAdded=' + counter + ')');
    return false;
}

/* ********************************************************
 * JQuery Enabled Processing
 * ********************************************************
 */
$(function() {
    /**
     * Initial
     */

    csrfToken = $('meta[name="csrf-token"]').attr('content');

    $( "#users-table tbody tr" ).on( "click", function(ev) {
        var dataPackage = $(this).data().package,
            contentType = dataPackage.package.hasOwnProperty('access_profile');

        $('#accessible-table').closest('div').prev('div').find('h2.panel-title').
                html('Accessible Content: <span class="label-info">select a ContentProfile Entry from above.</span>');

        $('#accessible-table tbody').empty();
        $('#accessible-table').removeClass('show').addClass('hidden');

        $("#users-table tbody tr").removeClass('info');
        $(ev.currentTarget).addClass('info');

        if (contentType){
          replaceAccessTableRows(dataPackage);
        } else {
          replaceContentTableRows(dataPackage);
        }

        consoleLog( dataPackage.username + " Selected." );
    });

    /* choose first one to start things off */
    $('#users-table tbody tr').first().click();
});

