// import the CSS framework


$navbar-default-bg: rgba(0, 21, 252, 0.27);


@import "bootstrap-sprockets";
@import "bootstrap";

/* my custom page
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
 }
body > .container {
  /* Padding for Navigation height */
    padding-top: 60px;
  /* Margin bottom by footer height */
    margin-bottom: 60px;
 }
main {
  @extend .container-fluid;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 60px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 6px;
  overflow: auto;
 }
textarea {
  resize: vertical;
 }
.center {
  text-align: center;
 }
.center h1 {
  margin-bottom: 10px;
 }

/* Sticky footer styles
 -------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 6px;
  background-color: #eee;
  }


/* make all images responsive by default */
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
.large-image {
  //  z-index: 60;
  margin: 0 auto;
  width: 74%;
  }
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-offset-3;
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
