// import the CSS framework




@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-default-bg: #0011ec;

@import "webfontkit";

/* Define the extra fonts  */
.brockFont {
  font-family: 'brock_scriptregular', Helvetica, Arial, sans-serif;
  font-size: ($font-size-base * 1.5);
 }
.tangerineFont {
  font-family: 'tangerineregular', Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
 }
.tangerineBoldFont {
  font-family: 'tangerinebold', Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
 }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
 }
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 6px;
  background-color: #eee;
 }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 20px 15px 0;
  }
.container .text-muted {
  margin: 20px 0;
  }
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  }
code {
  font-size: 80%;
  }

/* make all images responsive by default */
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
.carousel-inner > .item > img {
//  z-index: 60;
  margin: 0 auto;
  width: 100%;
  }
.large-image {
  //  z-index: 60;
  margin: 0 auto;
  width: 80%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
//  background-color: #0011ec;
  z-index: 10;
}

/* override for the 'Home' navigation link */
.navbar-brand {
  font-size: inherit;
  }

// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-offset-3;
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 6px;
  }
