<hr>
<footer>
    <p  class="text-center brockFont">&nbsp;&copy; 2015 Skoona Consulting<br/>
        <span><a href="mailto:systems@skoona.net">Webmaster</a>&nbsp;|&nbsp;All rights reserved.</span>
    </p>
</footer>
