
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= link_to details_model_pages_path, class: "text-left pull-left" do %>
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    <span>&nbsp;Architectural Information</span>
                <% end %>
            </div>
            <div class="col-md-4">
                <%= link_to developer_pages_path, class: "text-left" do %>
                    <span>&nbsp;&copy; 2016</span>
                <% end %>
            </div>
            <div class="col-md-4">
                <% unless accessed_page.eql?('pages/home') %>
                    <%= link_to home_pages_path, class: "pull-right" do %>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span>&nbsp;Home</span>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-8 col-md-4">
                <%= link_to "#top", class: "pull-right" do %>
                    <span>&nbsp;Top</span>
                <% end %>
            </div>
        </div>

    </div>
</footer>


