
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= link_to details_architecture_pages_path, class: "text-left pull-left" do %>
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    <span>&nbsp;Architectural Information</span>
                <% end %>
            </div>
            <div class="col-md-4 text-center">
                <span>&copy;&nbsp;2015-2017 Skoona Consulting</span>
            </div>
          <% if current_user_has_access?('#SystemsInformation') %>
            <div class="col-md-4">
              <%= link_to details_sysinfo_pages_path, class: "text-left pull-right" do %>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span>&nbsp;System Information</span>
              <% end %>
            </div>
          <% else %>
            <div class="col-md-4">
              <span> </span>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-4">
               <span> </span>
          </div>
          <div class="col-md-4 text-center">
              <span><em>SknServices Release Version: <%= Utility::BuildVersion.build_version %></em></span>
          </div>
        </div>
    </div>
</footer>


