<footer class="footer">
    <div class="container">
        <p  class="text-center"><span class="brockFont">&nbsp;&copy; 2015 Skoona Consulting</span><br/>
            <span><a href="mailto:systems@skoona.net">All rights reserved.</a></span>
        </p>
    </div>
</footer>

