<section class="row col-md-offset-2 col-md-8">
    <hr>
    <footer class="row">
        <p  class="text-center"><span class="brockFont">&nbsp;&copy; 2015 Skoona Consulting</span><br/>
            <span><a href="mailto:systems@skoona.net">Webmaster</a>&nbsp;|&nbsp;All rights reserved.</span>
        </p>
    </footer>
</section>